.main-bento-wrapper {
  min-height: calc(100vh - 10vh);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.bento-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  height: 45rem;
  width: 83vw;
}

.bento-box-1 {
  grid-area: 1 / 1 / 4 / 5;
}

.bento-box-1 img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.main-news {
  display: flex;
  flex-diretcion: row;
  margin: 0.75rem 0;
}

.main-news h1 {
  width: 50rem;
  font-size: 2.5rem;
  /* text-align: justify; */
  text-justify: inter-word;
  hyphens: auto;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bento-box-1-data {
  width: 50rem;
  font-size: 1rem;
  padding-left: 2rem;
  margin-top: 1.05rem;
  text-align: justify;
}

.bento-box-1-data p {
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bento-box-1-data a {
  color: white;
  background: #894845;
  padding: 0.5rem 3rem;
  border-radius: 5px;
}

.bento-box-2 {
  grid-area: 1 / 5 / 4 / 7;
  background: #f9f4f3;
  border-radius: 5px;
}

.bento-box-2-heading {
  font-size: 2.25rem;
  color: #5b3333;
  margin: 0 1.5rem;
  margin-top: 1rem;
}

.bento-box-2 article {
  margin: 1rem 1.75rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f2e7e2;
}

.bento-box-2 article h4 {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0.35rem;
}

.bento-box-2 article p {
  font-size: 0.85rem;
  color: #5b3333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.bento-box-3 {
  grid-area: 4 / 1 / 5 / 7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bento-box-3 article {
  display: flex;
  width: 100vw;
}

.bento-box-3-image {
  width: 10vw;
  height: 10vh%;
  object-fit: cover;
}

.bento-box-3-data {
  margin-left: 1rem;
  margin-right: 1.25rem;
  text-justify: inter-word;
  hyphens: auto;
}

.bento-box-3-data h4 {
  color: #a55951;
  font-size: 1.25rem;
}

.bento-box-3-data h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #301a1b;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.bento-box-3-data p {
  padding-top: 0.9rem;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #301a1b;
}

@media only screen and (max-width: 1240px) {
  .bento-wrapper {
    grid-column-gap: 1rem;
  }

  .bento-box-2-heading {
    font-size: 1.75rem;
  }

  .bento-box-2 article h4 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .bento-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    height: 67rem;
    width: 90vw;
  }

  .main-news h1 {
    font-size: 2rem;
  }

  .bento-box-1-data {
    font-size: 0.9rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
  }

  .bento-box-1-data p {
    margin-bottom: 2.5rem;
  }

  .bento-box-2-heading {
    font-size: 1.35rem;
  }

  .bento-box-2 article h4 {
    font-size: 1.05rem;
  }

  .bento-box-2 article p {
    font-size: 0.7rem;
  }

  .bento-box-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bento-box-3 article {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    width: 90vw;
    border-bottom: 1px solid #f2e7e2;
  }

  .bento-box-3-image {
    width: 25%;
    height: 100%;
  }

  .bento-box-3-data {
    width: 75%;
  }

  .bento-box-3-data h4 {
    font-size: 1.15rem;
  }

  .bento-box-3-data h3 {
    font-size: 1.25rem;
  }

  .bento-box-3-data p {
    padding-top: 0.7rem;
    font-size: 0.85rem;
    text-align: justify;
  }
}

@media only screen and (max-width: 864px) {
  .bento-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0rem;
    height: 60rem;
    width: 90vw;
  }

  .bento-box-1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 90vw;
    height: 30rem;
  }

  .bento-box-1 img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .bento-box-2 {
    grid-area: 2 / 1 / 3 / 2;
    height: 70vh;
    margin-bottom: 2.5rem;
    padding: 1rem 0;
  }

  .bento-box-2-heading {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }

  .bento-box-2 article h4 {
    font-size: 1.35rem;
  }

  .bento-box-2 article p {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  .bento-box-3 {
    grid-area: 3 / 0 / 5 / 0;
  }
}

@media only screen and (max-width: 665px) {
  .main-news h1 {
    font-size: 1.75rem;
  }

  .bento-box-2 {
    height: 85vh;
  }
}

/* @media only screen and (max-width: 468px) {
  
  .bento-box-1 {
    height: 30rem;
    display: flex;
    flex-diretcion: column;
  } 

   .main-news {
    display: flex;
    flex-diretcion: column;
  }

  .main-news h1 {
    width: 100%;
  }

  .bento-box-1-data {
    width: 100%;
  }
} */
